{{!-- The following component displays Ember's default welcome message. --}}
{{welcome-page}}
{{!-- Feel free to remove this! --}}

{{outlet}}

<div>
  isReady: {{kayako.isReady}}
</div>

{{#if kayako.isReady}}
  <div>
    isVisible: {{kayako.isVisible}}
    <button onclick={{action "show"}}>Show</button>
    <button onclick={{action "hide"}}>Hide</button>
  </div>

  <div>
    isMaximized: {{kayako.isMaximized}}
    <button onclick={{action "maximize"}}>Maximize</button>
    <button onclick={{action "minimize"}}>Minimize</button>
  </div>
{{/if}}
